.Appli {
  .appli--container {
    padding: 0 1.25rem 75px 1.25rem;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
  }

  .menu-celliers {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 75%;
    button {
      margin-left: 10px;
      width: 100px;
      height: 40px;
    }
  }
}

// Gestion du formulaire de connexion
.Login {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  color: #152440;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  background-image: linear-gradient(
      to top,
      rgb(204, 66, 64) 70%,
      rgba(16, 30, 51, 0.95) 50%
    ),
    url(./img/jpg/background-accueil.jpg);

  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;

  .logo {
    width: 200px;
    padding-bottom: 25px;
  }

  .Auth-sub-title {
    padding-bottom: 25px;
    font-weight: 200;
    font-size: 12px;
    color: #f3f5eb;
  }

  small {
    font-size: 0.9em;
    color: #f3f5eb;
  }

  .Authenticator {
    padding-bottom: 25px;

    .amplify-heading {
      font-size: 15px;
    }

    div:first-child {
      background-color: #f3f5eb;
      width: 100%;
    }

    input {
      text-align: left;

      &:focus {
        border-color: #f1ab50;
        box-shadow: none;
      }
    }

    .amplify-button--primary {
      background-color: #f1ab50;
      color: #101e33;
      font-weight: 200;

      &:hover {
        background-color: #152440;
        color: #f3f5eb;
      }
    }

    .amplify-button--link {
      color: #152440;

      &:hover {
        background-color: #f3f5eb;
        color: #cc4240;
      }
    }

    .amplify-tabs-item {
      background-color: #f3f5eb;
      color: #cc4240;
      font-weight: 500;
      border: 1px solid #e2e2e273;
    }

    .amplify-alert--error {
      background-color: #f3f5eb;
      color: #cc4240;
      font-weight: 500;
      border: 1px solid #cc4240;
    }

    button[data-state="inactive"] {
      background-color: #f3f5eb86;
      color: #152440;
    }

    button[data-state="active"] {
      border-top: 3px solid #f1ab50;
    }
  }
}

@media only screen and (min-width: 768px) {
  .Authenticator {
    width: 600px;
    margin: auto;
  }
}

@media only screen and (min-width: 1024px) {
  .Appli {
    .appli--container {
      padding: 0 5rem 75px 5rem;
    }
  }
}
