.Appli {
	.Appli--entete {
		background-color: #152440;
		border-bottom: #cc4240 5px solid;
		color: #f3f5eb;
		padding: 40px 1.25rem 20px 1.25rem;
		margin-top: -15px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-image: linear-gradient(
			to top,
			rgba(16, 30, 51, 0.95) 50%,
			rgba(16, 30, 51, 0.95) 50%
		),
		url(./img/jpg/background-accueil.jpg);

		.Appli--search-bar-container {
			display: flex;
			.Appli--search-bar {
				background-color: #f3f5eb;
				border: 1px solid #cc4240;
				border-radius: 4px;
				color: #152440;
				font-family: Raleway;
				padding: 10px 10px 10px 10px;
				margin-bottom: 5px;
				outline: none;
				width: 70%;

				&:focus {
					border-color: #f1ab50;
					box-shadow: none;
				}
			}

			.Appli--search-bar-icone {
				background-color: #cc4240;
				padding: 11px;
				border-radius: 100px;
				height: 40px;
				width: 40px;
				margin-left: 10px;
				.Appli--search-bar-icone-search{
					display: block;
					margin: auto;
				}
			
				&:hover {
					background-color: #f1ab50;
					color: #f3f5eb;
					cursor: pointer;	  
				}
			}	
		}

		.Appli--tri-container {		
			select {
				margin-top: 10px;
				min-width: 170px;
				background-color: #cc4240;
				border: #cc4240 1px solid;
				font-size: 11px;
				outline: none;
				color:#f3f5eb;
				-webkit-appearance: none;
				-moz-appearance: none;
				background-image: url("./img/svg/icone_row_down_blue.svg");
				background-size: 6% 50%;
				background-repeat: no-repeat;
				background-position-x: 95%;
				background-position-y: 10px;
			}

			@media only screen and (min-width: 365px) {
				select {
					margin-left: 10px;
				}
			}

			@media only screen and (min-width: 390px) {
				display: flex;
				select {
					margin-top: 0px;
					margin-left: 10px;
				}
			}
	
		}

		.Appli--signOut-container {
			.Appli--signOut {
				background-color: #cc4240;
				border: 1px solid #cc4240;
				border-radius: 4px;
				color: #f3f5eb;
				font-family: Alata;
				text-transform: uppercase;
				padding: 10px 15px 10px 15px;
				font-size: 11px;

				&:hover {
					background-color: #f1ab50;
					border: 1px solid #f1ab50;
					color: #152440;
					cursor: pointer;
				}
			}
		}

		.Appli--addBottle-container {
			display: flex;
			justify-content: space-evenly;
		}
	}

	.Appli--container {
		padding: 0 1.25rem 75px 1.25rem;
		min-height: 85vh;
	}
}

// Gestion du formulaire de connexion
.Login {
	color: #152440;
	font-family: "Raleway", sans-serif;
	font-weight: 200;
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: linear-gradient(
		to top,
		rgb(204, 66, 64) 60%,
		rgba(16, 30, 51, 0.95) 50%
		),
		url(./img/jpg/background-accueil.jpg);
		
	position: fixed;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	overflow: auto;
		
	&::-webkit-scrollbar {
		display: none; /* for Chrome, Safari, and Opera */
	}
	
	.logo {
		width: 200px;
		padding-bottom: 25px;
	}

	.Auth-sub-title {
		padding-bottom: 25px;
		font-weight: 200;
		font-size: 15px;
		color: #f3f5eb;
	}

	small {
		font-size: 0.9em;
		color: #f3f5eb;
	}

	.Authenticator {
		padding-bottom: 25px;

	.amplify-heading {
		font-size: 15px;
	}

	div:first-child {
		background-color: #f3f5eb;
		width: 100%;
	}

	input {
		text-align: left;

		&:focus {
		border-color: #f1ab50;
		box-shadow: none;
		}
	}

    .amplify-button--primary {
		background-color: #f1ab50;
		color: #152440;
		font-weight: 200;

		&:hover {
		background-color: #152440;
		color: #f3f5eb;
		}
    }

    .amplify-button--link {
		color: #152440;
		text-underline-offset: 5px;
		text-decoration: underline 1px;

		&:hover {
			background-color: #f3f5eb;
			color: #cc4240;
		}
    }

    .amplify-tabs-item {
		background-color: #f3f5eb;
		color: #cc4240;
		font-weight: 500;
		border: 1px solid #e2e2e273;
    }

    .amplify-alert--error {
		background-color: #f3f5eb;
		color: #cc4240;
		font-weight: 500;
		border: 1px solid #cc4240;
    }

    button[data-state="inactive"] {
		background-color: #f3f5eb86;
		color: #152440;
    }

    button[data-state="active"] {
		border-top: 3px solid #f1ab50;
    }
  }
}

@media only screen and (min-width: 360px) {
	.Appli {
		.Appli--addBottle-container {
			display: flex;
			justify-content: space-between;

			.Appli--addBottle-btnGroup {
				padding-left: 10px;
			}
		}
	}
}

@media only screen and (min-width: 560px) {
	.Appli {
		.Appli--entete {
			padding: 40px 3rem 20px 3rem;
		}

		.Appli--container {
		padding: 0 3rem 75px 3rem;
		}
	}
}

@media only screen and (min-width: 768px) {
	.Authenticator {
		width: 600px;
		margin: auto;
	}

	.Appli {
		.Appli--entete {
			padding: 90px 5vw 10px 5vw;
			margin-top: 0;
			margin-bottom:  50px;

			.Appli--search-bar-container {
				.Appli--search-bar {
					width: 40%
				}
			}

			.Appli--signOut {
				margin-bottom: 5px;
			}
		}

		.Appli--container {
			padding: 0 5vw 75px 5vw;
		}

	}
}

@media only screen and (min-width: 1200px) {
	.Appli {
		.Appli--entete {
			padding: 90px 12vw 10px 12vw;
		}

		.Appli--container {
			padding: 0 12vw 75px 12vw;
		}
	}
}


@media only screen and (min-width: 1800px) {
	.Appli {
		.Appli--entete {
			padding: 90px 22vw 10px 22vw;
		}

		.Appli--container {
			padding: 0 22vw 75px 22vw;
		}
	}
}