// .Bouteille {
.Bouteille {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  border: 0.5px solid #d3d7dd;

  .bouteille--info-container {
    padding: 10px;
  }

  .bouteille--gestion {
    position: relative;
    cursor: pointer;
    background-color: #d3d7dd;
    height: 180px;

    img {
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
    display: flex;
    justify-content: space-between;

    .bouteille--gestion-container {
      width: 100%;
    }

    .bouteille--gestion-dots {
      position: absolute;
      top: 0;
      right: 0;
      color: #cc4240;

      &:hover {
        background-color: #d3d7dd78;
        border-radius: 20px;
        cursor: pointer;
      }
    }
  }

  .options {
    //   display: flex;
    justify-content: space-between;
    position: relative;
  }
  .snackbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
  }

  &:hover {
    background-color: #d3d7dd40;
  }
}
// }
