.Bouteille {

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  border: 0.5px solid #d3d7dd;

  .bouteille--info-container {
    padding: 10px;
  }

  .img {
    background-color: #d3d7dd;
    height: 180px;

  .bouteille--gestion {
    position: relative;
    cursor: pointer;
    background-color: #d3d7dd;
    height: 180px;

>>>>>>> af536e82b01662d663987310166766e3018ab8ae
    img {
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
<<<<<<< HEAD
=======
    display: flex;
    justify-content: space-between;

    .bouteille--gestion-container {
      width: 100%;
    }

    .bouteille--gestion-dots {
      position: absolute;
      top: 0;
      right: 0;
      color: #cc4240;

      &:hover {
        background-color: #d3d7dd78;
        border-radius: 20px;
        cursor: pointer;
      }
    }
>>>>>>> af536e82b01662d663987310166766e3018ab8ae
  }

  .options {
    //   display: flex;
    justify-content: space-between;
    position: relative;
  }
  .snackbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
  }

  &:hover {
    background-color: #d3d7dd40;
<<<<<<< HEAD
  }
  .bouteille--info-container .titre {
	width: 200px;
	overflow: hidden;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
  }
}
=======
  }
}
// }
>>>>>>> af536e82b01662d663987310166766e3018ab8ae
