.Cellier {
  .cellier {
    height: 376px;
    border: 1px dotted black;
    margin-top: 40px;
    padding: 10px;
    .description {
      height: 100%;
      .description-originale {
        height: 100%;
        .btn-cellier {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
        }
      }
    }
    button {
      width: 200px;
      height: 100px;
    }
    .img {
      img {
        width: 180px;
        height: 180px;
      }
    }
  }
}

.fond-selection {
  background-color: rgb(230, 234, 235);
}

.fond-normal {
  background-color: white;
}
