.Cellier {
  .cellier {
    border: 1px dotted black;
    margin-top: 40px;
    padding: 10px;
    .img {
      img {
        width: 180px;
        height: 180px;
      }
    }
  }
}

.fond-selection {
  background-color: rgb(230, 234, 235);
}

.fond-normal {
  background-color: white;
}
