.css-ypiqx9-MuiDialogContent-root {
	padding: 20px 20px 20px 20px !important;
	background-color: #d3d7dd78;
}

.css-1cdjfa1-MuiPaper-root-MuiDialog-paper {
	width: 100%;
	.img-wrap {
		height: 200px;
		margin-bottom: 25px;
	}

	img {
		padding: 5px 0 5px 0;
		object-fit: contain;
		height: 100%;
		width: 100%;
		max-height: 250px;
		mix-blend-mode: multiply;
	}
}

.nom  {
	text-align: center;
	font-weight: 500;
	padding-bottom: 5px;
}

.type  {
	text-align: center;
}

.lien_saq {
	padding-top: 25px;
	background-color: transparent;
	cursor: pointer;
	font-family: Raleway;
	font-size: 12px;
    text-underline-offset: 5px;
    text-decoration: underline 1px;
	a  {
		color: #152440;
		&:hover {
			color: #cc4240;
		}
	}
}

.FormBouteille--button {
	&:nth-child(1) {
		font-family: Alata;
		background-color: transparent;
		border: 1px solid #cc4240;
		color: #152440;
		font-size: 12px;
		padding: 10px 20px;
		&:hover {
			background-color: #f1ab50;
			border: 1px solid #f1ab50;
			color: #152440;
			cursor: pointer;
		}
	}
	
	&:nth-child(2) {
		font-family: Alata;
		background-color: #152440;
		border: 1px solid #152440;
		color: #f3f5eb;
		font-size: 12px;
		padding: 10px 20px;
		&:hover {
			background-color: #f1ab50;
			border: 1px solid #f1ab50;
			color: #152440;
			cursor: pointer;
		}
	}

}

.img-container {
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: linear-gradient(
		to top,
		#d3d7dd 60%,
		#d3d7dd 50%
	)
}

@media only screen and (min-width: 768px) {
	.css-ypiqx9-MuiDialogContent-root {
		padding: 40px 60px 60px 60px !important;
		background-color: #d3d7dd78;
	}
}