body {
  text-align: center;
  font-size: 0.7rem;
  margin: auto;
}

.entete-accueil {
  height: 100px;
  text-align: center;
  padding: 20px;
}

@media only screen and (min-width: 768px) {
    body  {
        width: 600px;
    }
}
