.ListeBouteille--grid {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	list-style: none;
}

@media only screen and (min-width: 940px) {
	.ListeBouteille--grid {
		grid-template-columns: repeat(3, 1fr);
	}
}
  
@media only screen and (min-width: 1200px) {
	.ListeBouteille--grid {
		grid-template-columns: repeat(4, 1fr);
	}
}

.ListeBouteilles--default {
	h1 {
		font-size: 20px;
	}

 	p {
		font-size: 12px;
		color: #152440;

		&:hover {
			color: #cc4240;
			cursor: pointer;
		}
	}
}

.retour {
	background-color: #152440;
	border: none;
	border-radius: 4px;
	color: #f3f5eb;
	font-family: Alata;
	text-transform: uppercase;
	padding: 10px;
	margin-bottom: 50px;
	margin-top: 25px;

	&:hover {
		background-color: #cc4240;
		cursor: pointer;
	}

	img {
		padding-right: 10px;
	}
}

@media only screen and (min-width: 768px) {
    .retour {
		margin-top: 0;
	}
}