.NavDesktop {
  display: none;
  position: fixed;
  width: 100%;
  z-index: 10;

  .MuiList-root {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .NavDesktop {
    background-color: #f3f5eb;
    display: flex;
    justify-content: space-between;
	padding: 25px 5rem 25px 5rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);

    .logo,
    .iconeAddBottle {
      height: 50px;
      width: 120px;
    }

    .iconeAddBottle {
      &:hover {
        scale: 1.05;
      }
    }

    .actionMenu {
      display: flex;
    }

    .navDesktop--container-profil {
      display: flex;
      cursor: pointer;

      p {
        padding-top: 10px;
      }

      img {
        margin-right: 15px;
      }
    }
  }

  .MuiList-root {
    a span {
		padding-top:5px;
    //   margin: 0 auto;
    }
    a:hover {
      color: #cc4240;
      background-color: transparent;
    }
  }
}