.PiedDePage {
  background-color: #152440;
  border-top: 5px solid #cc4240;
  color: #f3f5eb;
  padding-top: 25px;
  padding-bottom: 50px;
  padding-left: 1.25rem;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: left;
}

.Login .PiedDePage {
  position: fixed;
  padding-bottom: 25px;
}

@media only screen and (min-width: 768px) {
  .PiedDePage {
    position: fixed;
    padding-bottom: 25px;
  }
}
