.PiedDePage {
	* {
	  color: #f3f5eb;
	}

	background-color: #152440;
	border-top: 5px solid #cc4240;
	bottom: 0;
	padding: 25px;
	display: flex;
	justify-content: space-between; 
	text-align: left;
	width: 100%;

	.nav-link-help {
		display: none;
	}
}

.Login .PiedDePage {
	background-color: #cc4240;

	justify-content: center; 
	.nav-link-help {
		display: none;
	}
}

@media only screen and (min-width: 768px) {

	.Login .PiedDePage {
		position: fixed;
		background-color: #152440;
		justify-content: space-between; 
 	}
	
	.PiedDePage {
		position: fixed;
		.nav-link-help {
			display: block;
			font-size: 12px;

			&:hover {
				color: #f1ab50;
				cursor: pointer;
			}
		}
	}
}