.Profil {
  border: 1px solid #d3d7dd;
  background-color: #f3f5eb;
  padding: 40px;
  margin: 20px;
  .img {
    img {
      width: 200px;
      height: 200px;
      object-fit: contain;
    }
  }
  .snackbar-wrapper {
    position: absolute;
    top: 0;
    right:0;
  }
  .description {
    margin-top:-20px;
  }
  .modifier {
    background-color: #f3f5eb;
    border: none;
    text-underline-offset: 3px;
    text-decoration: underline; 
    &:hover {
      font-weight:500;
    }
  }
  
  .infos-modification {
    background-color: #f3f5eb;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: -2%;
    font-size: 15px;
  }
}

.boutonSupprimer {
  border: none;

  text-underline-offset: 3px;
  text-decoration: underline;
  font-size: 15px;
  display: flex;
  justify-content: flex-start;
  margin-left: 0.5rem;
  margin-bottom: 2rem;
  &:hover {
    font-weight:500;
  }
}

.signOut {
  display: flex;
  justify-content: flex-end;
  margin-right: 0.7rem;
}

